[ews-orgmode]
host=servername without protocol, e.g. your.exchange.host.org
path=webservice path, e.g. /ews/Exchange.asmx
username=username
password=password
auth_type=any
timezone=Europe/Vienna
days_history=7
days_future=30
max_entries=100
cainfo=/path/to/root_ca.crt

# office 365
#host=outlook.office365.com
#path=/EWS/Exchange.asmx
#username=your.name@yourdomain.com
#password=password
#auth_type=basic
#timezone=Europe/Vienna
#days_history=7
#days_future=30
#max_entries=100
##cainfo=/path/to/root_ca.crt

